

.imgbackground{
    
        background-image:
        url(
        "https://www.semrush.com/static/images/shape_top.d442ba0d2be9d61ed937084319a21b3a.svg");
        background-size: "cover";
      
        font-size:50px;
      
        background-repeat:no-repeat;


        margin-left:70%;
        height:24%;
        width:30%;
        border:1px solid #FF622D;
        background-size: 160%;
        background-position-y: -245px;
        background-position-x: -68px;
        /* width: 300px;
        height: 300px; */
        /* border: 2px solid;
        color: pink; */
        
        
}
.imgbackground1{
    
        background-image:
        url(
        "https://www.semrush.com/static/images/shape_left.76ab6e7ff801732bf052030f19491afb.svg");
        background-size: "cover";
      
        font-size:50px;
      
        background-repeat:no-repeat;


        /* margin-top:4%; */
        height:44%;
        width:37%;
        border:1px solid #FF622D;
        background-size: 130%;
        background-position-y: -30px;
        background-position-x: -168px;
        /* width: 300px;
        height: 300px; */
        /* border: 2px solid;
        color: pink; */
        
        
}
.sponser{
        height:150px;
        width:55%;
        border:1px solid #FF622D;
        margin-left: 22.25%;
        margin-top: -38.64%;

}
.sponser>img{
        width:100%;

}
.see{
        height:auto;
        width:55%;
        border:1px solid #FF622D;
        margin-left: 26%;
        margin-top: 6.63%;
        text-align: center;

}

.imgbackground3{
    
        background-image:
        url(
        "https://www.semrush.com/static/images/bubble.1793638c40709caea7b32a8f93e4ca07.svg");
        background-size: "cover";
      
        font-size:50px;
      
        background-repeat:no-repeat;
    
    
        margin-left:40%;
        height:900px;
        width:60%;
        border:1px solid #FF622D;
        background-size: 78%;
        margin-top: 19%;
        /* background-position-y: -245px; */
        background-position-x: 125px;
        /* width: 300px;
        height: 300px; */
        /* border: 2px solid;
        color: pink; */
        
        
    }



.box{
        height:700px;
        width:78%;
        margin-left: 13%;
        border:1px solid #FF622D;
        margin-top: -74.63%;
        border-radius: 40px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.boxImg{
        display: flex;
        justify-content: space-around;
       
}
